instances/456789/flows_Yousefs-MacBook-Pro.local.json
[{"id":"d2855a64.59fc2","type":"tab","label":"New WorkFlow","disabled":false,"info":""},{"id":"6237f87.baa9e08","type":"function","z":"d2855a64.59fc2","name":"Approve by Manager","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["f19bae40.b7dfb"]]},{"id":"f19bae40.b7dfb","type":"function","z":"d2855a64.59fc2","name":"Approve by Site Manager","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["4b5fd1c6.9f91a"]]},{"id":"d0be7f55.2b7ff","type":"status","z":"d2855a64.59fc2","name":"Task created (Type)","scope":null,"x":150,"y":160,"wires":[["6237f87.baa9e08"]]},{"id":"4b5fd1c6.9f91a","type":"function","z":"d2855a64.59fc2","name":"Approve by GM","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":160,"wires":[["9a1cf745.687e18"]]},{"id":"9a1cf745.687e18","type":"debug","z":"d2855a64.59fc2","name":"Enable Task","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":160,"wires":[]},{"id":"fbecf7fb.273ef8","type":"status","z":"d2855a64.59fc2","name":"Task Done by Type","scope":null,"x":150,"y":240,"wires":[["f6d8f704.c04cd8","31594e77.531eb2"]]},{"id":"f6d8f704.c04cd8","type":"function","z":"d2855a64.59fc2","name":"Approve by Manager","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["b204cd76.2c9ac"]]},{"id":"b204cd76.2c9ac","type":"function","z":"d2855a64.59fc2","name":"Approve by Site Manager","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["5cea0bc9.e50a44","5dd1fc96.3b7f14"]]},{"id":"5cea0bc9.e50a44","type":"function","z":"d2855a64.59fc2","name":"Approve by GM","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["ddfbff5d.2512d","e774aadf.0c76b8"]]},{"id":"ddfbff5d.2512d","type":"debug","z":"d2855a64.59fc2","name":"Close Task","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":240,"wires":[]},{"id":"e774aadf.0c76b8","type":"debug","z":"d2855a64.59fc2","name":"Alert GM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":300,"wires":[]},{"id":"5dd1fc96.3b7f14","type":"debug","z":"d2855a64.59fc2","name":"Alert SM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":300,"wires":[]},{"id":"31594e77.531eb2","type":"function","z":"d2855a64.59fc2","name":"Audit Request","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["969a8f38.fef5"]]},{"id":"969a8f38.fef5","type":"function","z":"d2855a64.59fc2","name":"Approve by Manager","func":"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[[]]},{"id":"8b322976.bc8ec8","type":"join","z":"d2855a64.59fc2","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":520,"y":540,"wires":[[]]},{"id":"124bef25.0c31a1","type":"function","z":"d2855a64.59fc2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":500,"wires":[[]]}]