instances/558774/.flows_Yousefs-MacBook-Pro.local.json 47.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":140,"wires":[]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":280,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"{\"approved\":{\"Approve 1\":\"true\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["77d226f7.032878"]]},{"id":"77d226f7.032878","type":"function","z":"5017434a.1ae984","name":"Approve 1","func":"if(msg.payload[node.name].approved === undefined)\n{\n    msg.payload = {};\n    msg.payload.if = 1;\n    msg.payload[node.name].approved = \"pending\"\n    return [null, null, msg];\n} else if(msg.payload[node.name].approved === \"pending\"){\n    msg.payload.if = 2;\n    return [null, null, msg];\n} else if (msg.payload[node.name].approved === \"false\") {\n    msg.payload.if = 3;\n    return [null, null, msg];    \n} else {\n    msg.payload.if = 4;\n    msg.payload[node.name]={approved:\"true\"};\n    return [msg, null, null];    \n}","outputs":3,"noerr":0,"x":530,"y":220,"wires":[["85e3b2ee.68f0f"],["6e1791fd.fb2a2"],["8dc94f10.dc1c4"]],"outputLabels":["YES","NO","PENDING"]},{"id":"8dc94f10.dc1c4","type":"debug","z":"5017434a.1ae984","name":"PENDING","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":420,"wires":[]}]