instances/558774/.flows_Yousefs-MacBook-Pro.local.json 67.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":220,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["7181f483.7c2b9c"]]},{"id":"77d226f7.032878","type":"function","z":"5017434a.1ae984","name":"Approve 1","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":530,"y":220,"wires":[["dbf6b5f5.b5ca28","50af691.7acff98"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"8dc94f10.dc1c4","type":"debug","z":"5017434a.1ae984","name":"PENDING","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":520,"wires":[]},{"id":"7181f483.7c2b9c","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = {};\nmsg.parts = {id:235, count:2, type:\"object\", key:\"approved\"}\nmsg.payload.approved = {\n    \"Approve 1\": \"yes\",\n    \"Approve 2\": \"yes\",\n    \"Approve 3\": \"yes\",\n    \"Approve 4\": \"yes\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["77d226f7.032878","e3c994a8.a65c78"]]},{"id":"e3c994a8.a65c78","type":"debug","z":"5017434a.1ae984","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":340,"wires":[]},{"id":"dbf6b5f5.b5ca28","type":"function","z":"5017434a.1ae984","name":"Approve 2","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":650,"y":120,"wires":[["1dc7bbd5.413ca4"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"1dc7bbd5.413ca4","type":"function","z":"5017434a.1ae984","name":"Approve 3","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":870,"y":40,"wires":[["fe3c4758.1d4468"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"50af691.7acff98","type":"function","z":"5017434a.1ae984","name":"Approve 4","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":870,"y":280,"wires":[["fe3c4758.1d4468"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":540,"wires":[]},{"id":"fe3c4758.1d4468","type":"join","z":"5017434a.1ae984","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":140,"wires":[["85e3b2ee.68f0f"]]}]