instances/558774/.flows_Yousefs-MacBook-Pro.local.json 112.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"Sensor Preventaive Maintanance ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":240,"wires":[["1f7cd500.eec9bb"]]},{"id":"1f7cd500.eec9bb","type":"tests","z":"5017434a.1ae984","name":"","x":530,"y":240,"wires":[["ef074488.3fd178","76149f39.f193a","9926776.6575188"]]},{"id":"ef074488.3fd178","type":"endTests","z":"5017434a.1ae984","name":"","x":800,"y":160,"wires":[]},{"id":"76149f39.f193a","type":"endTests","z":"5017434a.1ae984","name":"","x":820,"y":240,"wires":[]},{"id":"9926776.6575188","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":320,"wires":[]},{"id":"1f462847.3ca188","type":"function","z":"5017434a.1ae984","name":"","func":"var ets = flow.get(\"endTests\");\nnode.warn(ets)\nmsg.payload = ets;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["4eeb9d46.3608a4"]]},{"id":"4eeb9d46.3608a4","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":440,"wires":[]},{"id":"32671285.bad04e","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":440,"wires":[["1f462847.3ca188"]]}]