instances/558774/.flows_Yousefs-MacBook-Pro.local.json 53.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":140,"wires":[]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":280,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["7181f483.7c2b9c"]]},{"id":"77d226f7.032878","type":"function","z":"5017434a.1ae984","name":"Approve 1","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.fuck = true; \n}\nreturn msg.payload.approved;","outputs":3,"noerr":0,"x":530,"y":220,"wires":[["85e3b2ee.68f0f"],["6e1791fd.fb2a2"],["8dc94f10.dc1c4"]],"outputLabels":["YES","NO","PENDING"]},{"id":"8dc94f10.dc1c4","type":"debug","z":"5017434a.1ae984","name":"PENDING","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":420,"wires":[]},{"id":"7181f483.7c2b9c","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = {};\n//msg.payload[\"approved\"] = {\"Approve 1\": \"true\"}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["77d226f7.032878"]]}]