instances/558774/.flows_Yousefs-MacBook-Pro.local.json 10.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f079af51.665a4","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = node.id;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":320,"wires":[["6f2f1b27.2e2264"]]},{"id":"6f2f1b27.2e2264","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":400,"wires":[]},{"id":"53dabeb8.5e548","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":420,"wires":[["f079af51.665a4"]]}]