instances/558774/.flows_Yousefs-MacBook-Pro.local.json 94.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94cd6d88.9dac7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"Sensor Preventaive Maintanance ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["1f7cd500.eec9bb"]]},{"id":"818ee906.b505a8","type":"function","z":"94cd6d88.9dac7","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["623891b3.6587b"]]},{"id":"9f4ae62.3c1ef18","type":"delay","z":"94cd6d88.9dac7","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":532,"y":189,"wires":[["818ee906.b505a8"]]},{"id":"623891b3.6587b","type":"debug","z":"94cd6d88.9dac7","name":"","active":true,"console":"false","complete":"true","x":997,"y":279,"wires":[]},{"id":"12862c95.937ac3","type":"delay","z":"94cd6d88.9dac7","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":536,"y":285,"wires":[["818ee906.b505a8"]]},{"id":"baad879d.ff4f48","type":"delay","z":"94cd6d88.9dac7","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":533,"y":369,"wires":[["818ee906.b505a8"]]},{"id":"b26811f6.9fad3","type":"function","z":"94cd6d88.9dac7","name":"Task1","func":"msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":189,"wires":[["9f4ae62.3c1ef18"]]},{"id":"4dff8434.2445ac","type":"function","z":"94cd6d88.9dac7","name":"Task2","func":"msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":284,"wires":[["12862c95.937ac3"]]},{"id":"ee6bf288.e2738","type":"function","z":"94cd6d88.9dac7","name":"Task3","func":"msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":368,"wires":[["baad879d.ff4f48"]]},{"id":"5ccf5074.92449","type":"inject","z":"94cd6d88.9dac7","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":198,"y":273,"wires":[["b26811f6.9fad3","4dff8434.2445ac","ee6bf288.e2738"]]},{"id":"1f7cd500.eec9bb","type":"tests","z":"5017434a.1ae984","name":"","x":490,"y":240,"wires":[["ef074488.3fd178","76149f39.f193a","9926776.6575188"]]},{"id":"ef074488.3fd178","type":"endTests","z":"5017434a.1ae984","name":"","x":780,"y":200,"wires":[]},{"id":"76149f39.f193a","type":"endTests","z":"5017434a.1ae984","name":"","x":780,"y":260,"wires":[]},{"id":"9926776.6575188","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":300,"wires":[]}]