instances/558774/.flows_Yousefs-MacBook-Pro.local.json 17.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f2f1b27.2e2264","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1290,"y":380,"wires":[]},{"id":"53dabeb8.5e548","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":400,"wires":[["f079af51.665a4"]]},{"id":"f079af51.665a4","type":"function","z":"5017434a.1ae984","name":"","func":"msg.nodeflow = [];\nmsg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["5b408466.d495cc"]]},{"id":"16cc298f.1c72b6","type":"function","z":"5017434a.1ae984","name":"","func":"msg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["c98784cc.b1be58"]]},{"id":"c98784cc.b1be58","type":"function","z":"5017434a.1ae984","name":"","func":"msg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["960c4b34.88e2c8"]]},{"id":"960c4b34.88e2c8","type":"function","z":"5017434a.1ae984","name":"","func":"msg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":340,"wires":[["8f1e416d.10ac4"]]},{"id":"8f1e416d.10ac4","type":"switch","z":"5017434a.1ae984","name":"","property":"payload.approved","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":380,"wires":[["6f2f1b27.2e2264"],["fb325eae.3f02f"]]},{"id":"fb325eae.3f02f","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = \"Not Approved\"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":500,"wires":[["6f2f1b27.2e2264"]]},{"id":"5b408466.d495cc","type":"function","z":"5017434a.1ae984","name":"","func":"msg.approved = true\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["16cc298f.1c72b6"]]}]