instances/558774/.flows_Yousefs-MacBook-Pro.local.json 103.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"Sensor Preventaive Maintanance ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":240,"wires":[["1f7cd500.eec9bb"]]},{"id":"1f7cd500.eec9bb","type":"tests","z":"5017434a.1ae984","name":"","x":590,"y":240,"wires":[["ef074488.3fd178","76149f39.f193a","9926776.6575188"]]},{"id":"ef074488.3fd178","type":"endTests","z":"5017434a.1ae984","name":"","x":800,"y":160,"wires":[]},{"id":"76149f39.f193a","type":"endTests","z":"5017434a.1ae984","name":"","x":880,"y":240,"wires":[]},{"id":"9926776.6575188","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":320,"wires":[]}]