instances/558774/.flows_Yousefs-MacBook-Pro.local.json 33.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":140,"wires":[]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":500,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"{\"Approve 1\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["3e1e03f6.405e9c"]]},{"id":"3e1e03f6.405e9c","type":"function","z":"5017434a.1ae984","name":"Approve 1","func":"msg.payload.lastNode = node.name\nif(!msg.payload[node.name])\n{\n    return [null, msg, null];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, null, msg];    \n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":450,"y":220,"wires":[["f400f701.7b4e48","be6b7a6e.a40c38"],["6e1791fd.fb2a2"],[]],"outputLabels":["YES","NO","Pending"]},{"id":"f400f701.7b4e48","type":"function","z":"5017434a.1ae984","name":"Approve 2","func":"msg.payload.lastNode = node.name\nif(!msg.payload[node.name])\n{\n    return [null, msg, null];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, null, msg];    \n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":830,"y":40,"wires":[[],["6e1791fd.fb2a2"],[]],"outputLabels":["YES","NO","Pending"]},{"id":"be6b7a6e.a40c38","type":"function","z":"5017434a.1ae984","name":"Approve 3","func":"msg.payload.lastNode = node.name\nif(!msg.payload[node.name])\n{\n    msg.payload[node.name]={approved:false};\n    return [null, msg, null];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, null, msg];    \n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":650,"y":220,"wires":[["7259a1a5.94419"],["6e1791fd.fb2a2"],[]],"outputLabels":["YES","NO","Pending"]},{"id":"7259a1a5.94419","type":"function","z":"5017434a.1ae984","name":"Approve 4","func":"msg.payload.lastNode = node.name\nif(!msg.payload[node.name])\n{\n    return [null, msg, null];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, null, msg];    \n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":870,"y":180,"wires":[["85e3b2ee.68f0f"],["6e1791fd.fb2a2"],[]],"outputLabels":["YES","NO","Pending"]}]