instances/558774/.flows_Yousefs-MacBook-Pro.local.json 26.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b7a199e9.212928","type":"function","z":"5017434a.1ae984","name":"First Node","func":"msg.nodeID = node.id;\nmsg.nodeName = node.name;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["f6d485.f03a2b78"]]},{"id":"1dca6e3c.b884a2","type":"function","z":"5017434a.1ae984","name":"Second Node","func":"msg.nodeName = node.name;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["f6d485.f03a2b78"]]},{"id":"7fe71ab9.f063d4","type":"http in","z":"5017434a.1ae984","name":"TaskEnter","url":"/task","method":"post","upload":false,"swaggerDoc":"","x":290,"y":340,"wires":[["b7a199e9.212928","1dca6e3c.b884a2","f55b0cf7.83205"]]},{"id":"f55b0cf7.83205","type":"http response","z":"5017434a.1ae984","name":"Status Out","statusCode":"","headers":{},"x":410,"y":240,"wires":[]},{"id":"f6d485.f03a2b78","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":340,"wires":[]}]