instances/558774/.flows_Yousefs-MacBook-Pro.local.json 7.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d832954.3e9fde8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c9504947.1cdda","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a23881a2.4310c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f4e7224d.241fb","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a1eaa944.5e2bd8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d6e127af.65626","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"b8efb093.34a23","type":"http in","z":"5017434a.1ae984","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":350,"y":420,"wires":[["dde4d4b8.613188"]]},{"id":"fd18161c.f8dbd8","type":"http response","z":"5017434a.1ae984","name":"","statusCode":"200","headers":{},"x":670,"y":460,"wires":[]},{"id":"dde4d4b8.613188","type":"template","z":"5017434a.1ae984","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":520,"y":520,"wires":[["fd18161c.f8dbd8"]]}]