instances/558774/.flows_Yousefs-MacBook-Pro.local.json 25.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"192ad4e0.dc9f9b","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":300,"wires":[]},{"id":"899474c7.41b348","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":300,"wires":[["b7a199e9.212928","1dca6e3c.b884a2"]]},{"id":"b7a199e9.212928","type":"function","z":"5017434a.1ae984","name":"First Node","func":"msg.nodeID = node.id;\nmsg.nodeName = node.name;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["192ad4e0.dc9f9b"]]},{"id":"1dca6e3c.b884a2","type":"function","z":"5017434a.1ae984","name":"Second Node","func":"msg.nodeName = node.name;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["192ad4e0.dc9f9b"]]}]