instances/558774/.flows_Yousefs-MacBook-Pro.local.json 30.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"431fe9cf.09a788","type":"subflow","name":"Approve","info":"","category":"","in":[{"x":320,"y":140,"wires":[{"id":"3be03415.1c5acc"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"3be03415.1c5acc","port":0}]},{"x":620,"y":140,"wires":[{"id":"3be03415.1c5acc","port":1}]},{"x":620,"y":200,"wires":[{"id":"3be03415.1c5acc","port":2}]}],"outputLabels":["YES","NO","PENDING"],"icon":"node-red/file-out.png"},{"id":"ff89a0b1.07e1f","type":"http in","z":"5017434a.1ae984","name":"Start","url":"/task","method":"post","upload":false,"swaggerDoc":"","x":280,"y":280,"wires":[[]]},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":180,"wires":[]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":240,"wires":[]},{"id":"a68e316c.6d115","type":"debug","z":"5017434a.1ae984","name":"Pending","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":300,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":220,"wires":[["10c72200.597ede"]]},{"id":"3be03415.1c5acc","type":"function","z":"431fe9cf.09a788","name":"Approve","func":"if(!msg.payload[node.name])\n{\n    return [null, msg, null];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, null, msg];    \n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":460,"y":140,"wires":[[],[],[]],"outputLabels":["YES","NO","Pending"]},{"id":"10c72200.597ede","type":"subflow:431fe9cf.09a788","z":"5017434a.1ae984","name":"Approve 1","x":500,"y":260,"wires":[["85e3b2ee.68f0f"],["6e1791fd.fb2a2"],["a68e316c.6d115"]]}]