instances/558774/.flows_Yousefs-MacBook-Pro.local.json 8.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8efb093.34a23","type":"http in","z":"5017434a.1ae984","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":350,"y":420,"wires":[["dde4d4b8.613188"]]},{"id":"fd18161c.f8dbd8","type":"http response","z":"5017434a.1ae984","name":"","statusCode":"200","headers":{},"x":670,"y":460,"wires":[]},{"id":"dde4d4b8.613188","type":"template","z":"5017434a.1ae984","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":520,"y":520,"wires":[["fd18161c.f8dbd8"]]},{"id":"ff276887.28c158","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = process.cwd()\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["7a23f784.1a3418"]]},{"id":"7a23f784.1a3418","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":160,"wires":[]}]