instances/558774/.flows_Yousefs-MacBook-Pro.local.json 31.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff89a0b1.07e1f","type":"http in","z":"5017434a.1ae984","name":"Start","url":"/task","method":"post","upload":false,"swaggerDoc":"","x":280,"y":280,"wires":[[]]},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":180,"wires":[]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":240,"wires":[]},{"id":"a68e316c.6d115","type":"debug","z":"5017434a.1ae984","name":"Pending","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":300,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":220,"wires":[["3e1e03f6.405e9c"]]},{"id":"3e1e03f6.405e9c","type":"function","z":"5017434a.1ae984","name":"Approve","func":"msg.payload.lastNode = node.name\nif(!msg.payload[node.name])\n{\n    return [null, msg, null];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, null, msg];    \n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":440,"y":220,"wires":[["85e3b2ee.68f0f"],["6e1791fd.fb2a2"],["a68e316c.6d115"]],"outputLabels":["YES","NO","Pending"]}]