instances/558774/.flows_Yousefs-MacBook-Pro.local.json 24.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"192ad4e0.dc9f9b","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":500,"wires":[]},{"id":"899474c7.41b348","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":500,"wires":[["b7a199e9.212928"]]},{"id":"b7a199e9.212928","type":"function","z":"5017434a.1ae984","name":"First Node","func":"msg.nodeID = node.id;\nmsg.nodeName = node.name;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["192ad4e0.dc9f9b"]]}]