instances/558774/.flows_Yousefs-MacBook-Pro.local.json 11.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f2f1b27.2e2264","type":"debug","z":"5017434a.1ae984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":400,"wires":[]},{"id":"53dabeb8.5e548","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":400,"wires":[["f079af51.665a4"]]},{"id":"f079af51.665a4","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = node.id;\nmsg.nodeflow = [];\nmsg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["1b78a555.797acb"]]},{"id":"1b78a555.797acb","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = node.id;\nmsg.nodeflow = [];\nmsg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["9ae235aa.56ef68"]]},{"id":"9ae235aa.56ef68","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = node.id;\nmsg.nodeflow = [];\nmsg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["44a7c86e.cbfc08"]]},{"id":"44a7c86e.cbfc08","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = node.id;\nmsg.nodeflow = [];\nmsg.nodeflow.push(node.id);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[["6f2f1b27.2e2264"]]}]