instances/558774/.flows_Yousefs-MacBook-Pro.local.json 28.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff89a0b1.07e1f","type":"http in","z":"5017434a.1ae984","name":"Start","url":"/task","method":"post","upload":false,"swaggerDoc":"","x":280,"y":280,"wires":[["39cace12.438112"]]},{"id":"39cace12.438112","type":"function","z":"5017434a.1ae984","name":"Approve 1","func":"if(!msg.payload[node.name])\n{\n    return [null, msg];\n} else if (msg.payload[node.name].approved === false) {\n    return [null, msg];    \n} else {\n    return [msg, null];    \n}\n","outputs":2,"noerr":0,"x":500,"y":220,"wires":[["85e3b2ee.68f0f"],["6e1791fd.fb2a2"]],"outputLabels":["YES","NO"]},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":180,"wires":[]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":240,"wires":[]}]