instances/558774/flows_Yousefs-MacBook-Pro.local 2.json
[{"id":"5017434a.1ae984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94cd6d88.9dac7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"85e3b2ee.68f0f","type":"debug","z":"5017434a.1ae984","name":"YES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":320,"wires":[]},{"id":"fd1b9d8.bb0b96","type":"inject","z":"5017434a.1ae984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["7181f483.7c2b9c","c69941e.7890dc"]]},{"id":"77d226f7.032878","type":"function","z":"5017434a.1ae984","name":"Approve 1","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":530,"y":220,"wires":[["dbf6b5f5.b5ca28","50af691.7acff98"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"8dc94f10.dc1c4","type":"debug","z":"5017434a.1ae984","name":"PENDING","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":520,"wires":[]},{"id":"7181f483.7c2b9c","type":"function","z":"5017434a.1ae984","name":"","func":"msg.payload = {};\nmsg.parts = {id:235, count:2, type:\"object\", key:\"approved\"}\nmsg.payload.approved = {\n    \"Approve 1\": \"yes\",\n    \"Approve 2\": \"yes\",\n    \"Approve 3\": \"yes\",\n    \"Approve 4\": \"yes\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["77d226f7.032878","e3c994a8.a65c78"]]},{"id":"e3c994a8.a65c78","type":"debug","z":"5017434a.1ae984","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":340,"wires":[]},{"id":"dbf6b5f5.b5ca28","type":"function","z":"5017434a.1ae984","name":"Approve 2","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":650,"y":120,"wires":[["1dc7bbd5.413ca4"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"1dc7bbd5.413ca4","type":"function","z":"5017434a.1ae984","name":"Approve 3","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":870,"y":40,"wires":[["b96bad7c.de02d"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"50af691.7acff98","type":"function","z":"5017434a.1ae984","name":"Approve 4","func":"if(!(\"approved\" in msg.payload))\n{\n    msg.payload.approved = {};\n    msg.payload.approved[node.name] = \"pending\";\n    return [null, null, msg];\n} else if (!(node.name in msg.payload.approved)) {\n    msg.payload.approved[node.name] = \"pending\";\n    return [null,null,msg];\n} else if(msg.payload.approved[node.name] == \"pending\") {\n    return [null, null, msg];\n} else if(msg.payload.approved[node.name] == \"no\") {\n    return [null, msg,null];\n} else {\n    return [msg, null, null];\n}\n","outputs":3,"noerr":0,"x":870,"y":280,"wires":[["b96bad7c.de02d"],[],[]],"outputLabels":["YES","NO","PENDING"]},{"id":"6e1791fd.fb2a2","type":"debug","z":"5017434a.1ae984","name":"NO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":540,"wires":[]},{"id":"b96bad7c.de02d","type":"function","z":"5017434a.1ae984","name":"","func":"//node.warn(node);\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":180,"wires":[[]]},{"id":"818ee906.b505a8","type":"function","z":"94cd6d88.9dac7","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["623891b3.6587b"]]},{"id":"9f4ae62.3c1ef18","type":"delay","z":"94cd6d88.9dac7","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":532,"y":189,"wires":[["818ee906.b505a8"]]},{"id":"623891b3.6587b","type":"debug","z":"94cd6d88.9dac7","name":"","active":true,"console":"false","complete":"true","x":997,"y":279,"wires":[]},{"id":"12862c95.937ac3","type":"delay","z":"94cd6d88.9dac7","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":536,"y":285,"wires":[["818ee906.b505a8"]]},{"id":"baad879d.ff4f48","type":"delay","z":"94cd6d88.9dac7","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":533,"y":369,"wires":[["818ee906.b505a8"]]},{"id":"b26811f6.9fad3","type":"function","z":"94cd6d88.9dac7","name":"Task1","func":"msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":189,"wires":[["9f4ae62.3c1ef18"]]},{"id":"4dff8434.2445ac","type":"function","z":"94cd6d88.9dac7","name":"Task2","func":"msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":284,"wires":[["12862c95.937ac3"]]},{"id":"ee6bf288.e2738","type":"function","z":"94cd6d88.9dac7","name":"Task3","func":"msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":368,"wires":[["baad879d.ff4f48"]]},{"id":"5ccf5074.92449","type":"inject","z":"94cd6d88.9dac7","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":198,"y":273,"wires":[["b26811f6.9fad3","4dff8434.2445ac","ee6bf288.e2738"]]},{"id":"c69941e.7890dc","type":"tests","z":"5017434a.1ae984","name":"","x":310,"y":440,"wires":[["11ed12f7.13936d"]]},{"id":"11ed12f7.13936d","type":"tests","z":"5017434a.1ae984","name":"","x":490,"y":440,"wires":[[]]}]